# Python Problem
To write a python script to fetch all the tweets(as many as allowed by Twitter API) done by midas@IIITD twitter handle and dump the responses into JSONlines file. Further, parse these JSONline files to display the following for every tweet in a tabular format.

* The text of the tweet.
* Date and time of the tweet.
* The number of favorites/likes.
* The number of retweets.
* Number of Images present in Tweet. If no image returns None.


---


## Installing the required Libraries

In [1]:
#!pip install jsonlines

Requirement already satisfied: jsonlines in /usr/local/lib/python3.6/dist-packages (1.2.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from jsonlines) (1.11.0)

##Importing Libraries & Setting up API Credentials

In [0]:
import jsonlines
import tweepy
import pandas as pd

credentials = {'consumer_key':'',
               'consumer_secret':'',
               'access_token':'',
               'access_token_secret':''}

auth = tweepy.OAuthHandler(credentials['consumer_key'], credentials['consumer_secret'])
auth.set_access_token(credentials['access_token'], credentials['access_token_secret'])
api = tweepy.API(auth)

## Scrapping Tweets from @midasIIITD and Writting them to JSONlines File

In [0]:
tweets = api.user_timeline(screen_name='midasiiitd',count=100)
tweets = [i._json for i in tweets]
with open('output.jsonl', 'w') as fp:
  writer = jsonlines.Writer(fp)
  writer.write_all(tweets)

## Parsing Tweets using the Summarize Function

Takes input of the complete Tweet and returns a parsed Json

In [0]:
def summarize(tweet):
    new_tweet = {}
    
    for label in ["text", "created_at", "favorite_count", "retweet_count", "favorite_count"]:
      new_tweet[label] = tweet[label]
      
    new_tweet["media_count"] = 0    #initialize counter
    
    try:    #try if media exists or not
      for m in tweet['extended_entities']['media']:
          if m["type"] == 'photo':
              new_tweet["media_count"] = new_tweet["media_count"]+1   #increment counter
    except:
      new_tweet["media_count"]=None
      
      
    if new_tweet["media_count"] == 0:
      new_tweet["media_count"] = None
    
    return new_tweet

## Read JSONlines File and get Parsed JSON to form the Table

JSONs are parsed line by line using an itererator. The parsed JSON of every tweet appends each element to the dictionary 'd' containg all the columns. THe dictionary 'd is used to form the dataframe and hence represented as a Table.

In [0]:
d = {"text": [], "created_at": [], "favorite_count": [], "retweet_count": [], "favorite_count": [], "media_count": []}

with open('output.jsonl', 'r') as fp:   #Read the JSONlines file
  with jsonlines.Reader(fp) as reader:
    it = iter(reader)
    
    while(True):
      try:
        json = summarize(next(it))     #Iterate line by line in JSONlines file
        for column in list(json.keys()):
          d[column].append(json[column])
      
      except:   #To stop without interuption when iter() ends
        break

In [60]:
df = pd.DataFrame(d)
df = df.where((pd.notnull(df)), None)
df.sample(35)    #Print Table with sample of 35 tweets

,created_at,favorite_count,media_count,retweet_count,text
72,Tue Feb 05 11:55:41 +0000 2019,1,None,1,"Thanks, Karan Uppal and @RatnRajiv for all you..."
42,Thu Feb 21 16:27:54 +0000 2019,0,None,13,RT @kdnuggets: #AI for Social Good study - how...
11,Sat Mar 16 09:20:29 +0000 2019,1,None,1,IEEE BigMM 2019 - Call for Workshop Proposals....
31,Sun Mar 03 14:55:31 +0000 2019,6,None,2,Considering several requests to extend the dea...
52,Mon Feb 18 05:37:59 +0000 2019,0,None,6,RT @CornellDyson: Digital ag is Cornell’s newe...
25,Fri Mar 08 13:15:34 +0000 2019,8,None,4,We are in the process of finalizing the shortl...
54,Sun Feb 17 09:02:28 +0000 2019,3,None,1,Looking forward to your participation in Multi...
60,Wed Feb 13 18:56:13 +0000 2019,0,1,5,RT @kdnuggets: Using BERT for state-of-the-art...
27,Wed Mar 06 11:12:30 +0000 2019,0,1,22,RT @kdnuggets: Python Data Science for Beginne...
46,Wed Feb 20 05:38:29 +0000 2019,4,None,2,"Deepak Gupta, has joined @Google today. \nEarl..."
90,Tue Jan 29 18:05:01 +0000 2019,5,None,2,@TechAtBloomberg @debanjanbhucs It is a great ...
95,Tue Jan 29 04:40:47 +0000 2019,0,None,5,RT @TechAtBloomberg: #Textanalytics researcher...
49,Tue Feb 19 04:19:05 +0000 2019,0,None,292,RT @technology: What could the manufacturing i...
38,Mon Feb 25 16:10:46 +0000 2019,2,None,1,We will process all applications received by M...
45,Wed Feb 20 07:09:19 +0000 2019,6,None,2,"@RealAAAI @RatnRajiv Thanks, @RealAAAI for rec..."
17,Tue Mar 12 17:43:44 +0000 2019,0,None,67,RT @kaggle: Bookmark this amazing library of i...
97,Mon Jan 28 12:11:13 +0000 2019,0,None,18,"RT @Princeton: Using data from more than 6,000..."
50,Tue Feb 19 04:18:53 +0000 2019,0,None,21,RT @MSFTResearch: Dr. Layla El Asri wants you ...
30,Sun Mar 03 15:37:28 +0000 2019,9,None,1,"At @midasIIITD, we not only work hard but also..."
36,Tue Feb 26 18:30:52 +0000 2019,0,None,1,RT @RatnRajiv: Great meeting with @midasIIITD ...
82,Thu Jan 31 05:50:19 +0000 2019,4,None,2,@midasIIITD Lab is pleased to share our novel ...
32,Sun Mar 03 14:26:40 +0000 2019,0,None,315,RT @jeremyphoward: 39 studies about human perc...
55,Sun Feb 17 08:49:36 +0000 2019,1,None,0,Consider attending National Workshop on Intell...
44,Thu Feb 21 04:48:24 +0000 2019,0,None,13,RT @radamihalcea: We tend to focus mainly on c...
77,Fri Feb 01 07:46:57 +0000 2019,3,None,1,"@the_dhumketu @RealAAAI Congrats! Raghav, Kshi..."
73,Tue Feb 05 11:06:31 +0000 2019,4,None,3,@midasIIITD performance in OffensEval 2019 (Se...
94,Tue Jan 29 05:17:27 +0000 2019,3,2,1,@TechAtBloomberg @debanjanbhucs @IIITDelhi @Ra...
43,Thu Feb 21 06:39:27 +0000 2019,2,None,1,@IIITDelhi has initiated PhD Admission 2019 pr...
1,Sun Mar 24 18:44:01 +0000 2019,8,None,3,The last date for submitting a solution for th...
24,Fri Mar 08 13:22:07 +0000 2019,1,None,0,@AvinashSwamina2 @IIITDelhi No. They will be g...
51,Mon Feb 18 17:29:44 +0000 2019,11,None,9,To apply for @midasIIITD internship at @IIITDe...
74,Mon Feb 04 12:16:16 +0000 2019,0,None,39,RT @ProfAnirban: One of the biggest obstacles ...
79,Fri Feb 01 03:15:27 +0000 2019,0,None,8,RT @PeterMartigny: Very interesting talk by @C...
5,Sun Mar 24 06:23:14 +0000 2019,0,None,3,RT @IEEEBigMM19: Distinguished researchers Dr....
53,Sun Feb 17 17:22:06 +0000 2019,0,None,50,RT @odsc: Introduction to StanfordNLP: a state...